.task_wrapper {
    width: 736px;
    height: 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--gray-500);
    font-size: 0.87rem;
    border-radius: 8px;
    margin: 0.75rem;
}

.check {
    color: var(--blue);
    margin: 1rem 0.75rem 2rem 1rem;
    cursor: pointer;

}

.task_description {
    color: var(--gray-200);
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: 0 auto;

    & .task_finished {
        text-decoration: line-through;
    }
}

.task_remove {
    margin: 1rem 0.75rem 2rem 1rem;
    cursor: pointer;
    
    & svg {
        border-radius: 4px;
        padding: 2px;
    }
    & svg:hover {
        background: var(--gray-400);
        color: var(--danger);
        transition: all 0.4s ease-in-out;
    }
}